<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap" rel="stylesheet">
    <title><%=pageTitle %></title>
</head>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <h3><i class="fas fa-book-reader"></i>The ScoopBook</h3>
            <div class="section">
        <p class="lead"> <b>Read, Write and Share 📚</b></p>
        </div>
    <div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
         <i class="fab fa-google left"></i> Log In With Google
        </a>
        </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
     
    <!-- For small ICONS AND FOOTER -->

    <!-- \\ Style -->
        <!-- .fa { -->
    <!-- padding: 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
        }
        
        footer {
            text-align: center;
            margin: 220px;
            padding: 20px;  
            width: auto;
            color: white;
        }
    </style>
    <footer>Made by Tushar Kashyap
        <br>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/tusharkashyap18/" class="fa fa-linkedin"></a>
        </br>

    </footer> -->
    
    <!-- //using .FA for ICONS and Footer style for footer -->
    <style>
        .fa {
    padding: 5px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
        }
        
        footer {
            text-align: center;
            margin: 125px;
            padding: 10px;  
            width: auto;
            color: black;
            font-family: 'Arvo', serif;
        }
    </style>
    <footer> <b>Made by Tushar Kashyap</b>
        <br>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="https://www.linkedin.com/in/tusharkashyap18/" class="fa fa-linkedin"></a>
        </br>

    </footer>


</body>
</html>